/* ==== 
 --------- (4.02) banner styles start ---------
 ==== */
// banner one
.banner {
  padding-top: 200px;
  position: relative;
  overflow-x: clip !important;
  z-index: 1;

  .banner__inner {
    display: flex;
    align-items: flex-start;
    gap: 84px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .banner__content {
    width: 100%;
    max-width: 700px;
  }

  .banner__content-single {
    border-radius: 30px;
    padding: 40px;
    border: 1px solid #242424;
  }

  .banner__meta,
  .banner__sidebar {
    width: 100%;
    max-width: 275px;
  }

  .banner__meta-single,
  .banner__sidebar-single {
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #242424;
  }

  .banner__meta {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .thumb {
      margin-bottom: 20px;
      img {
        width: 100%;
        border-radius: 30px;
        min-width: 180px;
      }
    }

    .content {
      p {
        margin-bottom: 20px;
        &:nth-last-of-type(1) {
          margin-bottom: 0px;
        }
      }
      .text-sm {
        gap: 12px;
      }
    }

    hr {
      margin: 30px 0px;
      height: 1px;
      border: 0px;
      background: #262626;
    }
    .social {
      gap: 12px;
      justify-content: space-between;
      a {
        @include box(46px);
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          inset: 0px;
          border-radius: inherit;
          z-index: -1;
        }
      }
    }

    .banner__meta-btn {
      a,
      button {
        padding: 20px;
        width: 100%;
        justify-content: space-between;
        border-radius: 20px;
        border: 1px solid #242424;
        background: linear-gradient(
          90deg,
          #262626 0%,
          rgba(38, 38, 38, 0.1) 100%
        );

        &:hover {
          border-color: var(--white);
          i {
            color: white;
          }
        }

        i {
          font-size: 20px;
          color: #333333;
          transition: var(--transition);
        }
      }

      button {
        position: relative;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          inset: 0px;
          z-index: -1;
          background: linear-gradient(
            90deg,
            #262626 0%,
            rgba(38, 38, 38, 0.1) 100%
          );
          border-radius: inherit;
        }
      }
    }
  }

  .banner__content {
    text-align: start;

    .banner__content-single {
      h2 {
        margin-bottom: 44px;
        span {
          position: relative;
          .before-image {
            position: absolute;
            top: 100%;
            left: 10%;
            right: 0px;
            width: 100%;
            height: 14px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }

    hr {
      margin: 40px 0px 30px;
      background: #262626;
    }

    .cta {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: space-between;
      flex-wrap: wrap;
      .cta-single {
        p {
          &:first-of-type {
            gap: 12px;
            margin-bottom: 6px;
          }

          i {
            color: var(--quinary-color);
          }
        }
      }
      a {
        padding: 10px 15px;
        width: 100%;
        justify-content: space-between;
        border-radius: 12px;
        border: 1px solid #242424;
        gap: 20px;

        i {
          font-size: 20px;
          color: #333333;
        }
      }
    }

    .banner__content-study__inner {
      margin-top: 30px;
    }

    .banner__content-study__single {
      padding: 60px 0px;
      border-top: 1px solid #262626;
      position: relative;
      &:nth-last-of-type(1) {
        border-bottom: 1px solid #262626;
      }

      .case-study-hover {
        width: 196px;
        height: 175px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(10deg);
        inset-inline-start: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position-x: 75%;
        border-radius: 30px;
        opacity: 0;
        transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1),
          -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
        margin: -200px 0 0 -50px;
        overflow: hidden;
        pointer-events: none;
        z-index: 2;
      }

      .tag {
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        a {
          padding: 2px 10px;
          border: 1px solid #262626;
          border-radius: 100px;
          gap: 12px;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 1px;
          text-transform: capitalize;
          color: var(--quaternary-color);
          &:hover {
            color: var(--white);
          }

          i {
            width: 18px;
            height: 18px;
            font-size: 18px;
            background-color: #686868;
            border-radius: 3px;
            color: var(--theme-bg);
          }
          &:hover {
            i {
              background-color: var(--quinary-color);
            }
          }
        }
      }

      .title-lg {
        color: var(--quaternary-color);
        text-transform: capitalize;
        &:hover {
          color: var(--white);
        }
      }

      .content {
        gap: 16px;
        flex-wrap: wrap;
      }

      .content__right {
        a {
          color: var(--quaternary-color);
          text-transform: capitalize;
          &:hover {
            color: var(--white);
          }
        }
      }
      &:hover {
        .tag {
          a {
            color: white;
            i {
              background-color: var(--quinary-color);
            }
          }
        }
        .content {
          .title-lg {
            a {
              color: var(--white);
            }
          }
        }
        .case-study-hover {
          opacity: 1;
        }
      }
    }

    .banner__content-about {
      .banner__content-about-inner {
        padding: 40px;
        border: 1px solid #242424;
        border-radius: 30px;
        margin-top: 30px;
      }

      .span-block {
        background-color: var(--white);
        color: var(--quinary-color);
        padding: 0px 10px;
      }

      .title-xxl {
        span {
          font-weight: 700 !important;
        }
      }

      .bn-about-thumb {
        margin: 40px 0px;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          border-radius: 30px;
          min-height: 260px;
        }

        .yt {
          position: absolute;
          bottom: 30px;
          right: 30px;
          z-index: 1;
        }
      }

      .bn-about__content {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          margin-bottom: 20px;
          list-style-type: disc;
          color: var(--quaternary-color);
          text-transform: capitalize;
          &:nth-last-of-type(1) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  .banner__sidebar {
    .banner__sidebar-single {
      margin-bottom: 24px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }

      h5 {
        margin-bottom: 24px;
      }
    }
    .banner__sidebar-special {
      &:nth-last-of-type(1) {
        a {
          padding-bottom: 0px;
        }
      }
      a {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;
        padding: 20px 0px 20px 16px;
        border-top: 1px solid #262626;

        i {
          font-size: 20px;
          color: var(--quaternary-color);
        }

        span {
          color: var(--quaternary-color);
          transition: var(--transition);
          text-transform: capitalize;
        }

        &:hover {
          span,
          i {
            color: var(--white);
          }
          .service-info {
            span {
              &::before {
                background-color: var(--quinary-color);
              }
            }
          }
        }
      }

      .service-info {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        gap: 8px;
        span {
          &:nth-of-type(1) {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: -16px;
              transform: translateY(-50%);
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: var(--quaternary-color);
              transition: var(--transition);
            }
          }
        }
      }
    }

    .banner__sidebar-experience {
      padding: 20px 0px 20px 16px;
      border-top: 1px solid #262626;
      &:nth-last-of-type(1) {
        padding-bottom: 0px;
      }

      p {
        transition: var(--transition);
        text-transform: capitalize;
      }

      .time-frame {
        padding: 10px 16px;
        border-radius: 100px;
        border: 1px solid #414141;
        margin-bottom: 16px;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        span {
          color: var(--quaternary-color);
          line-height: 1;
          transition: var(--transition);
          text-transform: capitalize;
        }
      }
      .designation {
        position: relative;
        margin-bottom: 8px;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -16px;
          transform: translateY(-50%);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: var(--quaternary-color);
          transition: var(--transition);
        }
      }
      &:hover {
        p,
        span {
          color: var(--white);
        }
        .designation {
          &::before {
            background-color: var(--quinary-color);
          }
        }
      }
    }
  }

  .tag-t {
    position: absolute;
    top: 180px;
    left: 80px;
    z-index: -1;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 1px;
      height: 225px;
      background: #262626;
    }
    h2 {
      font-size: 200px;
      text-transform: capitalize;
      font-weight: 500;
      color: #1a1a1a;
    }
  }

  .banner__history {
    margin-top: 60px;
    h3 {
      margin-bottom: 40px;
    }

    .banner__history-single {
      display: flex;
      gap: 80px;
      row-gap: 30px;
      flex-wrap: wrap;
      padding: 40px 20px;
      border-bottom: 1px solid #414141;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:nth-of-type(1) {
        border-top: 1px solid #414141;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0%;
        left: 0px;
        right: 0px;
        top: 50%;
        transition: all 0.7s cubic-bezier(0.4, 0.885, 0.32, 1.275);
        background-color: var(--quinary-color);
        z-index: -1;
      }

      p {
        margin-top: 20px;
        color: var(--quaternary-color);
        transition: var(--transition);
      }

      &:hover {
        &::before {
          height: 100%;
          top: 0px;
          bottom: 0px;
        }

        p {
          color: white;
        }
      }
    }
  }
}

// banner two
.banner-two {
  padding: 260px 0px 120px;
  .banner-two__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    row-gap: 30px;
  }

  .banner-two__content {
    padding: 50px 40px;
    border-radius: 30px;
    border: 1px solid #2f2f2f;
    background: #151515;

    h1 {
      text-transform: capitalize;
      span {
        background: linear-gradient(91deg, #f70354 0%, #0074fd 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    hr {
      border: 0px !important;
      background-color: #2f2f2f;
      height: 1px;
      opacity: 1;
      width: 100%;
      margin: 30px 0px;
    }
  }

  .banner-two__right {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    a {
      @include box(50px);
      border: 1px solid #2f2f2f;
      color: #4d4d4d;
      background-image: none;
      -webkit-text-fill-color: unset;
      background-clip: unset;
      i {
        transition: none;
        background-image: none;
        -webkit-text-fill-color: unset;
        background-clip: unset;
      }
      &:hover {
        color: var(--white);
        border-color: #f70354;
        background-color: #f70354;
      }
    }
  }

  .banner-two__sidebar {
    padding: 30px;
    border-radius: 30px;
    border: 1px solid #2f2f2f;
    background: #151515;

    h4 {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: 0px;
        width: 50px;
        height: 2px;
        background-color: #414141;
      }
      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: calc(0% + 60px);
        width: 25px;
        height: 2px;
        background-color: #414141;
      }
    }
  }

  .skill-wrap {
    margin-top: 40px;
  }

  .skill-bar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .skill-bar-single {
    margin-bottom: 30px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
    &:nth-of-type(1) {
      .skill-bar-percent {
        background: linear-gradient(90deg, #f1662b 0%, #34a9dc 100%);
      }
    }
    &:nth-of-type(2) {
      .skill-bar-percent {
        background: linear-gradient(90deg, #ffde01 0%, #ffa800 100%);
      }
    }
    &:nth-of-type(3) {
      .skill-bar-percent {
        background: linear-gradient(90deg, #03f773 0%, #4363d3 100%);
      }
    }
    &:nth-of-type(4) {
      .skill-bar-percent {
        background: linear-gradient(90deg, #08ca1b 0%, #00fafa 100%);
      }
    }
    &:nth-of-type(5) {
      .skill-bar-percent {
        background: linear-gradient(90deg, #f70354 0%, #c543d3 100%);
      }
    }
  }

  .skill-bar-wrapper {
    margin-top: 15px;
  }

  .skill-bar {
    height: 2px;
    border-radius: 100px;
    background: #414141;
    position: relative;
  }

  .skill-bar-percent {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-radius: inherit;
  }

  .percent-value {
    color: var(--quaternary-color);
  }

  .banner-content__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    row-gap: 24px;
    flex-wrap: wrap;

    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      row-gap: 24px;
      flex-wrap: wrap;
    }
    a,
    button {
      color: var(--quaternary-color);
      font-weight: 400;
      text-transform: capitalize;
      &:hover {
        color: var(--white);
      }
    }
  }
}

// banner three
.banner-three {
  padding-top: 160px;
  position: relative;
  .banner-three__meta {
    border-radius: 30px;
    border: 1px solid #2f2f2f;
    background: #151515;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }

  .banner-three__meta-left {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    .thumb {
      a {
        @include box(80px);
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          bottom: 6px;
          right: 12px;
          width: 6px;
          height: 6px;
          background-color: #00f035;
          outline: 6px solid #151515;
          border-radius: 50%;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: inherit;
        }
      }
    }

    a {
      &:hover {
        color: var(--quinary-color);
      }
    }

    p {
      margin-top: 12px;
      a {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--quaternary-color);
        transition: var(--transition);
        &:hover {
          color: var(--quinary-color);
        }
      }
    }
  }

  .banner-three__meta-right {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    .btn {
      padding: 6px 10px;
      font-size: 12px;
      color: var(--senary-color);
      span {
        color: inherit;
      }

      i {
        font-size: 16px;
        color: var(--quinary-color);
      }

      &:hover {
        color: var(--quinary-color);
      }
    }

    .social {
      gap: 12px;
      a {
        @include box(46px);
        border: 1px solid #2f2f2f;
        color: #4d4d4d;
        background-image: none;
        -webkit-text-fill-color: unset;
        background-clip: unset;
        font-size: 20px;
        i {
          transition: none;
          background-image: none;
          -webkit-text-fill-color: unset;
          background-clip: unset;
        }
        &:hover {
          color: var(--white);
          border-color: #f70354;
          background-color: #f70354;
        }
      }
    }
  }

  .banner-three__sidebar {
    padding: 30px 20px;
    border-radius: 30px;
    border: 1px solid #2f2f2f;
    background: #151515;
    margin-top: 24px;
  }

  .side-single {
    margin-bottom: 30px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
    h6 {
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    p,
    li {
      color: var(--quaternary-color);
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: capitalize;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
      i {
        padding-right: 8px;
      }
      font-weight: 700;
      span {
        font-weight: 400;
        color: inherit;
      }
    }

    .text-xs {
      font-size: 12px;
    }

    .tags {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      a {
        border-radius: 100px;
        border: 1px solid #2f2f2f;
        background: #0f0f0f;
        padding: 0px 8px;
        color: var(--senary-color);
        font-size: 12px;
        line-height: 24px;
        font-weight: 400;
        &:hover {
          color: var(--white);
          border-color: white;
        }
      }
    }
  }

  .banner-three__review {
    border-radius: 30px;
    border: 1px solid #2f2f2f;
    background: #151515;
    margin-top: 24px;
  }

  .review-about {
    padding: 30px;
    border-bottom: 1px solid #2f2f2f;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 30px;

    justify-content: space-between;

    .review-about__left {
      max-width: 670px;
    }

    .intro {
      gap: 24px;
      row-gap: 12px;
      margin-bottom: 30px;
    }
    p {
      text-transform: capitalize;
    }

    .signature {
      margin-top: 30px;
    }

    .thumb {
      position: relative;
      overflow: hidden;
      border-radius: 100px;
      min-width: 106px;
      .video-wrap {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        a {
          @include box(50px);
          font-size: 16px;
          position: relative;
          z-index: 1;
          display: inline-flex;
          background: #ffffff20;
          color: white;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            border-radius: 50%;
            opacity: 0.10000000149011612;
            background: #fff;
            z-index: -1;
            animation: wave 3s linear infinite;
          }
        }
      }
    }
  }

  .feedback {
    padding: 30px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    img {
      max-width: 30px;
    }
  }

  .single-w {
    padding: 30px;

    hr {
      height: 1px;
      border: 0px;
      width: 100%;
      opacity: 1;
      background: #2f2f2f;
      margin: 30px 0px;
    }
  }

  .review-single {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    justify-content: space-between;

    .r-left {
      max-width: 670px;
    }

    p {
      &:nth-of-type(1) {
        color: #d9d9d9;
        margin-top: 0px;
      }
    }

    blockquote {
      margin-top: 20px;
    }

    q {
      color: var(--senary-color);
      text-transform: capitalize;
    }

    .r-right {
      min-width: 150px;
      p {
        margin-top: 10px;
      }

      .stars {
        display: flex;
        align-items: center;
        gap: 4px;
        i {
          color: #ffa800;
          font-size: 12px;
        }
      }
    }
  }
}

// banner four
.banner-four {
  padding-top: 180px;
  background-color: var(--theme-bg);

  .pt-120 {
    padding-top: 140px !important;
  }

  .banner-content__inner {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    max-width: 340px;
  }

  .arrow {
    position: relative;
    display: block;
    width: 120px;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      height: 2px;
      width: calc(100% - 6px);
      background-color: #414141;
    }
    &::after {
      content: "\f105";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-48%);
      font-size: 24px;
      color: #414141;
    }
  }

  form {
    flex-grow: 1;
  }

  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background-color: white;
    padding: 6px 24px 6px 60px;
    border-radius: 50px;
    position: relative;
    &::before {
      content: "\f0e0";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font-size: 18px;
      color: #999999;
    }

    input {
      padding: 16px 0px;
      color: #0f0f0f;
      position: relative;
      flex-grow: 1;

      &::placeholder {
        color: #999999;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--quinary-color);
      span {
        color: inherit;
        font-weight: inherit;
      }
    }
  }

  .banner-sponsor {
    max-width: 700px;
    h6 {
      color: #7e7e7e;
    }

    .spon-wrap {
      margin-top: 30px;
    }

    .slick-center {
      img {
        filter: brightness(0) saturate(100%) invert(99%) sepia(100%)
          saturate(0%) hue-rotate(312deg) brightness(108%) contrast(101%);
      }
    }
  }

  .banner-four-inner {
    position: relative;
    z-index: 1;
    .banner-four-thumb {
      position: absolute;
      right: 0px;
      bottom: 0px;
      z-index: -1;
      max-width: 30vw;
    }
  }
}

// banner five
.banner-five {
  padding-top: 140px;
  background-color: var(--theme-bg);
  .banner-five__inner {
    padding: 100px 50px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .s-t {
    padding: 8px 12px;
    background-color: white;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    i {
      font-size: 24px;
      color: var(--quinary-color);
    }
  }

  h1 {
    margin: 20px 0px 40px;
    color: var(--tertiary-color);
  }
  p {
    color: var(--tertiary-color);
  }

  a {
    text-transform: capitalize;
    border-color: var(--quinary-color);
    i {
      color: inherit;
    }

    span {
      font-weight: 700;
    }
  }

  .bn-f {
    position: absolute;
    bottom: 0px;
    right: 7%;
    max-width: 30vw;
    z-index: -1;
  }

  .anim-btn {
    &:hover {
      border-color: var(--quinary-color) !important;
      i {
        color: var(--quinary-color) !important;
      }
    }
  }
}

// cmn banner
.cmn-banner {
  padding-top: 240px;
  .cmn-banner__content {
    text-align: center;
    margin-top: -10px;
    h2 {
      color: white;
    }
  }
}

/* ==== 
 --------- (4.02) banner styles end ---------
 ==== */