/* ==== 
 --------- (2.03) global styles start ---------
 ==== */

img {
  max-width: 100%;
  height: auto;
  border: 0px;
  outline: 0px;
  object-fit: cover;
}

i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

span {
  display: inline-block;
}

.unset {
  max-width: unset;
}

.dir-rtl {
  direction: rtl;
}

.bg-img {
  @include background(var(--theme-color), no-repeat, cover, center center);
}

.slick-slide {
  margin: 0px 12px;

  img {
    display: inline-block;
  }
}

.slick-list {
  margin: 0px -12px;
}

.fw-9 {
  font-weight: 900 !important;
}

.fw-7 {
  font-weight: 700 !important;
}

.fw-6 {
  font-weight: 600;
}

.fw-5 {
  font-weight: 500;
}

.fw-4 {
  font-weight: 400;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-quaternary {
  color: var(--quaternary-color) !important;
}

.text-quinary {
  color: var(--quinary-color);
}

.text-senary {
  color: var(--senary-color);
}

.text-septenary {
  color: var(--septenary-color);
}

.text-octonary {
  color: var(--octonary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.bg-quaternary {
  background-color: var(--quaternary-color);
}

.bg-quinary {
  background-color: var(--quinary-color);
}

.bg-grd-one {
  background-image: linear-gradient(
    180deg,
    #262626 0%,
    rgba(38, 38, 38, 0.1) 100%
  );
}

.bg-grd-two {
  background-image: linear-gradient(
    90deg,
    #262626 0%,
    rgba(38, 38, 38, 0.1) 100%
  );
}
.gaper {
  row-gap: 24px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pt-60 {
  padding-top: 60px;
}

.section__cta {
  margin-top: 40px;
  text-align: center;
}

.section__content-cta {
  margin-top: 65px;
}

.banner__content {
  margin-top: -8px;
  text-align: center;

  h6 {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--theme-color);
    margin-bottom: 22px;
  }

  h1 {
    font-weight: 700;
    color: var(--theme-color);
    margin-bottom: 16px;
    text-transform: capitalize;
  }
}

.section__header {
  margin-bottom: 60px;
  margin-top: -8px;
  .sub-title {
    margin-bottom: 20px;
    color: var(--quinary-color);
    font-weight: 500;
    display: block;
    text-transform: capitalize;
  }
}

.section__header--secondary {
  margin-bottom: 60px;

  h2 {
    span {
      font-weight: 700 !important;
    }
  }
}

.section__content {
  margin-top: -6px;
  .sub-title {
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--quinary-color);
    text-transform: capitalize;
    display: block;
  }

  .sub-title-two {
    color: var(--white);
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
    margin-top: -8px;
    &::before {
      content: "";
      position: absolute;
      bottom: -12px;
      width: 40px;
      height: 2px;
      background-color: var(--primary-color);
      border-radius: 20px;
    }
  }

  .title {
    margin-top: 30px;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--white);
  }

  p {
    color: var(--quinary-color);
    margin-top: 24px;
  }
}

.cta-group {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;

  a {
    font-size: 24px;

    i {
      background-clip: text;
      background-image: linear-gradient(180deg, #1da1f2 0%, #00fafa 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:nth-of-type(2) {
      i {
        background-image: linear-gradient(180deg, #ffa800 0%, #ae01ff 100%);
      }
    }
    &:nth-of-type(3) {
      i {
        background-image: linear-gradient(
          211deg,
          #ff676a 0%,
          #c543d3 41.61%,
          #0074fd 100%
        );
      }
    }
    &:nth-of-type(4) {
      i {
        background-image: linear-gradient(223deg, #ff004d 0%, #cf1178 100%);
      }
    }
  }
}

.tw,
.fb,
.in,
.yt {
  @include box(48px);
  position: relative;
  z-index: 1;
  font-size: 20px;
  i {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #1da1f2 0%, #00fafa 100%);
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    z-index: -1;
    border-radius: 50%;
  }
}

.tw {
  i {
    background-image: linear-gradient(180deg, #1da1f2 0%, #00fafa 100%);
  }
  &::before {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.1) inset,
      0px -5px 25px 0px rgba(29, 161, 242, 0.35) inset;
    backdrop-filter: blur(15px);
  }
}

.in {
  i {
    background-image: linear-gradient(180deg, #1da1f2 0%, #00fafa 100%);
  }
  &::before {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.1) inset,
      0px -5px 25px 0px rgba(174, 1, 255, 0.35) inset;
    backdrop-filter: blur(15px);
  }
}

.fb {
  i {
    background-image: linear-gradient(
      211deg,
      #ff676a 0%,
      #c543d3 41.61%,
      #0074fd 100%
    );
  }
  &::before {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.1) inset,
      0px -5px 25px 0px rgba(73, 99, 237, 0.45) inset;
    backdrop-filter: blur(15px);
  }
}

.yt {
  i {
    background-image: linear-gradient(223deg, #ff004d 0%, #cf1178 100%);
  }
  &::before {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.1) inset,
      0px -5px 25px 0px rgba(255, 0, 77, 0.35) inset;
    backdrop-filter: blur(15px);
  }
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slide-btn-group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.slide-btn {
  @include box(74px);
  border: 1px solid #414141;
  transition: var(--transition);
  background-color: transparent;
  color: #414141;
  font-size: 40px;
  z-index: 2;
  &:hover {
    color: var(--white);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

// animation
@keyframes globalImageAnimation {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

// custom cursor
.cursor-outer {
  margin-left: -12px;
  margin-top: -12px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--quinary-color);
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 0.5;
  transition: all 0.14s ease-out;
  mix-blend-mode: difference;

  &.cursor-hover {
    opacity: 0;
    transition: none;
  }

  &.cursor-big {
    opacity: 0;
  }
}

.mouseCursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: hidden;
  text-align: center;
  &.cursor-big {
    width: 20px;
    height: 20px;
    margin-left: -12px;
    margin-top: -12px;
  }
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  z-index: 10000001;
  background-color: var(--quinary-color);
  opacity: 0.8;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  mix-blend-mode: difference;

  span {
    color: var(--theme-color);
    line-height: 60px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }

  &.cursor-big {
    span {
      opacity: 1;
    }
  }

  &.cursor-hover {
    margin-left: -10px;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #686363;
    opacity: 0;
  }
}

// title animation
@keyframes animationLeft {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  30% {
    transform: translate3d(100%, 0, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animationRight {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  30% {
    transform: translate3d(-100%, 0, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
}

.title-animation {
  gap: 6px;
  opacity: 0;
}

.title-animation-active {
  opacity: 1;
  div {
    &:nth-of-type(1) {
      h2 {
        animation: 3.2s ease-out alternate both animationLeft;
      }
    }
    &:nth-last-of-type(1) {
      h2 {
        animation: 3.2s ease-out alternate both animationRight;
      }
    }
  }
}

.slide-dots {
  .slick-dots {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    button {
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: 1px solid #2f2f2f;
      position: relative;
      transition: var(--transition);
      border-radius: 50%;
      text-indent: -99999px !important;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: #414141;
        border-radius: 50%;
      }
    }

    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid var(--quinary-color);
        &::before {
          background-color: var(--quinary-color);
        }
      }
    }
  }
}

// reveal title
.reveal-title {
  position: relative;
  display: inline-block;
  opacity: 0;

  &::after {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #414141;
    position: absolute;
  }
}

.reveal-title-active {
  animation: textAppear 1s linear forwards;
  animation-delay: 0.7s;
  &::after {
    animation: revealText 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0.6s;
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes revealText {
  0% {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 0%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.7);
    opacity: 0;
  }
}

.video-wrap {
  a {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      border-radius: 50%;
      opacity: 0.10000000149011612;
      background: #fff;
      z-index: -1;
      animation: wave 3s linear infinite;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 40px);
      height: calc(100% + 40px);
      border-radius: 50%;
      opacity: 0.10000000149011612;
      background: #fff;
      z-index: -2;
      animation: wave 6s linear infinite;
      animation-delay: 1s;
    }
  }
}

// breadcrumb
.breadcrumb {
  margin-bottom: 0px;
  margin-top: 20px;
  .breadcrumb-item,
  a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #686868;
    a {
      &:hover {
        color: var(--quinary-color);
      }
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 12px;
    &::before {
      padding-right: 12px;
      content: ":";
      font-weight: 600;
      color: #686868;
    }
  }

  .active {
    color: #686868;
  }
}

.zer {
  position: relative;
  z-index: -1;
}

/* ==== 
   --------- (2.03) global styles end ---------
   ==== */
