/* ==== 
 --------- (6.0) responsive styles start ---------
 ==== */

@media only screen and (max-width: 1439.98px) {
  .banner {
    .banner__inner {
      gap: 40px;
    }
  }
}

@media only screen and (max-width: 1399.98px) {
  .banner {
    .banner__content-single {
      .title-xxl {
        font-size: 45px;
        line-height: 55px;
      }
    }
  }

  .banner-two {
    .banner-two__group {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .counter {
    .counter__single {
      transform: scale(1);
      @include box(320px);
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .drive {
    .generate__content {
      padding-right: 0px;
      border-right: 0px;
    }

    .tab-content-inner {
      padding-left: 0px;
    }
  }

  .cta-s {
    .cta__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        text-align: center;
      }
    }
  }

  .ux-process {
    .service-f-single {
      padding-right: 100px;
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  // typography
  p,
  th,
  td,
  li,
  input,
  textarea,
  select,
  label,
  blockquote,
  span {
    font-size: 16px;
    line-height: 26px;
  }

  .text-xl {
    font-size: 20px;
    line-height: 30px;
  }

  a,
  button {
    font-size: 16px;
    line-height: 24px;
  }

  h1,
  .title-xxl {
    font-size: 40px;
    line-height: 50px;
  }

  .light-title-xxl {
    font-size: 110px;
    line-height: 120px;
  }

  .light-title-xl {
    font-size: 90px;
    line-height: 100px;
  }

  .light-title-lg {
    font-size: 60px;
    line-height: 70px;
  }

  .light-title-md {
    font-size: 40px;
    line-height: 50px;
  }

  .light-title-sm {
    font-size: 40px;
    line-height: 50px;
  }

  .light-title-xs {
    font-size: 30px;
    line-height: 40px;
  }

  h2,
  .title-xl {
    font-size: 30px;
    line-height: 40px;
  }

  h3,
  .title-lg {
    font-size: 24px;
    line-height: 34px;
  }

  .primary-navbar {
    padding: 25px 0px;
    .navbar__menu {
      display: none;
    }
  }

  // secondary header
  .secondary-header {
    .primary-navbar {
      padding: 25px 0px;
    }
  }
  // mobile menu
  .mobile-menu {
    position: fixed;
    inset: 0px;
    overflow: hidden;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: var(--transition);
    z-index: 9999;
    transition: all 0.6s ease-in-out;
    max-width: 400px;
    background-color: var(--black);

    .mobile-menu__header {
      display: flex;
      align-items: center;
      gap: 24px;
      flex-wrap: wrap;
      padding-left: 40px;
      justify-content: space-between;
    }

    .close-mobile-menu {
      font-size: 30px;
      width: 60px;
      align-items: center;
      justify-content: center;
    }

    .mobile-menu__wrapper {
      position: fixed;
      inset: 0px;
      max-width: 400px;
      background-color: var(--black);
      z-index: 9999;
      padding: 60px 0px;
      height: 100vh;
      overflow-y: auto;
      overflow-x: clip;
      display: flex;
      flex-direction: column;
      transition: 0.6s ease-in-out;
      transition-delay: 0.6s;
      gap: 60px;
      transform: translateY(100%);
      opacity: 1;
      visibility: visible;
      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    .navbar__list {
      flex-direction: column;
      border: 0px;
      & > li {
        & > a,
        button {
          border-bottom: 1px solid #414141;
        }

        &:nth-of-type(1) {
          border-top: 1px solid #414141;
        }
      }
    }

    .navbar__item {
      width: 100%;
      transition: var(--transition);

      a,
      button {
        color: var(--white);
        padding: 20px 80px 20px 40px;
        line-height: 1;
        width: 100%;
        &:hover {
          color: var(--quinary-color);
        }
        &::after {
          transition: none;
        }
      }
    }

    .nav-fade {
      transform: translateY(30px);
      opacity: 0;
      transition: all 0.7s ease-in-out !important;
    }

    .navbar__item--has-children {
      .navbar__dropdown-label {
        position: relative;
        &::after {
          content: "\2b";
          font-family: "Font Awesome 6 Free";
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          height: 100%;
          width: 60px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transform: rotate(0deg);
          border-left: 1px solid #414141;
          font-weight: 900;
        }
      }
      &:hover {
        .navbar__dropdown-label {
          &::after {
            transform: rotate(0deg);
          }
        }

        & > .navbar__dropdown-label-sub {
          color: var(--quinary-color) !important;
        }
      }
    }

    .navbar__item-active {
      color: var(--quinary-color) !important;
      &::after {
        content: "\f068" !important;
        font-family: "Font Awesome 6 Free" !important;
        font-weight: 900;
      }
    }

    .navbar__sub-menu {
      position: static;
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
      width: 100%;
      max-width: 100%;
      padding: 0px;
      display: none;
      transition: none;
      background-color: transparent;
      border-radius: 0px;

      &::before {
        content: none;
      }

      a,
      button {
        color: var(--white);
        padding: 20px 40px;
        border-bottom: 1px solid #414141;
        &::before {
          content: none;
        }
      }

      li {
        &:nth-last-of-type(1) {
          a,
          button {
            border-bottom: 1px solid #414141;
          }
        }
      }
    }

    .mobile-menu__options {
      padding: 0px 40px;
      a,
      button {
        width: 100%;
      }
    }

    .mobile-menu__social {
      transition: var(--transition);
      padding: 0px 40px;
      a {
        font-size: 20px;
        @include box(50px);
        i {
          transition: none;
        }
      }
    }
  }

  .mobile-menu__backdrop {
    background-color: #414141ac;
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease-in-out;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
      progress;
  }

  .mobile-menu__backdrop-active {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }

  .show-menu {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;

    .mobile-menu__wrapper {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }

    .nav-fade {
      animation: navLinkFade 0.5s ease forwards;
      transition: all 0.7s ease-in-out !important;
    }
  }

  .nav-fade-active {
    animation: navLinkFade 1s ease reverse !important;
  }

  // banner
  .banner {
    .banner__inner {
      flex-wrap: wrap;
    }

    .banner__meta,
    .banner__sidebar {
      max-width: calc(50% - 20px);
    }

    .banner__content {
      order: 3;
      max-width: 100%;
    }
  }

  .banner-two {
    padding: 180px 0px 100px;
  }

  .banner-four {
    .banner-four-inner {
      padding-bottom: 0px !important;
      .banner-four-thumb {
        bottom: unset;
        top: 150px;
        min-width: 150px;
      }
    }
    .banner-content__inner {
      flex-wrap: wrap;

      .arrow-wrapper {
        display: none;
      }
    }
  }

  .cmn-banner {
    padding-top: 200px;
  }

  // img view
  .img-view {
    overflow-x: clip;
    .img-view__wrapper {
      gap: 20px;

      .img-view__single {
        min-width: 380px !important;
        img {
          max-height: 240px;
        }
      }
    }
  }

  .h-s-f {
    .h-s-f-single {
      width: calc(50% - 12px);
      max-width: 100%;
    }
  }

  .project-sl {
    .thumb {
      margin-bottom: 30px;
    }

    .content {
      h2 {
        height: 260px;
      }
    }
  }

  .ux-process {
    .body-cn {
      max-width: 480px;
    }
  }

  .project-d {
    .quote-pj {
      padding-right: 0px;
      .secondary-text {
        font-size: 20px;
      }

      .cont {
        max-width: 600px;
      }
    }
  }

  // footer
  .footer {
    .footer__content {
      max-width: 680px;
      h2 {
        margin-top: -48px;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  // typography
  .text-xl {
    font-size: 18px;
  }

  h1,
  .title-xxl {
    font-size: 30px;
    line-height: 40px;
  }

  .light-title-xxl {
    font-size: 55px;
    line-height: 65px;
  }

  .light-title-xl {
    font-size: 60px;
    line-height: 70px;
  }

  .light-title-lg {
    font-size: 40px;
    line-height: 50px;
  }

  .light-title-md {
    font-size: 30px;
    line-height: 40px;
  }

  .light-title-sm {
    font-size: 30px;
    line-height: 40px;
  }

  .light-title-xs {
    font-size: 24px;
    line-height: 34px;
  }

  h2,
  .title-xl {
    font-size: 24px;
    line-height: 34px;
  }

  h3,
  .title-lg {
    font-size: 20px;
    line-height: 30px;
  }

  h4,
  .title-md {
    font-size: 20px;
    line-height: 30px;
  }

  h5,
  .title-sm {
    font-size: 18px;
    line-height: 28px;
  }

  // global styles

  .unset {
    max-width: 100%;
  }

  .pt-120 {
    padding-top: 100px;
  }

  .pb-120 {
    padding-bottom: 100px;
  }

  .section__cta {
    margin-top: 40px;
  }

  .section__content-cta {
    margin-top: 40px;
  }

  .progress-wrap {
    bottom: 12px;
    right: 12px;
    width: 40px;
    height: 40px;

    span {
      width: 30px;
      height: 30px;
    }
  }

  .banner {
    .banner__content-single {
      .title-xxl {
        font-size: 26px;
        line-height: 36px;
      }
    }
  }

  .banner-three {
    padding-top: 130px;
    .banner-three__sidebar,
    .banner-three__review {
      height: auto;
    }

    .banner-three__review {
      margin-top: 0px;
    }
  }

  .banner-four {
    padding-top: 140px;
    .pt-120 {
      padding-top: 60px !important;
    }
    .banner-four-inner {
      padding-bottom: 0px !important;
      .banner-four-thumb {
        bottom: unset;
        top: 100px;
        min-width: 150px;
      }
    }
  }

  .banner-five {
    padding-top: 120px;
    h1 {
      margin-bottom: 24px;
    }
    p {
      max-width: 320px;
    }

    .bn-f {
      max-width: 25vw;
    }
  }

  .cmn-banner {
    .title-xl {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .testimonial-two {
    .slide-dots {
      .slick-dots {
        flex-direction: row;
      }
    }
  }

  .testimonial-alt {
    .slide-dots {
      .slick-dots {
        align-items: center;
        justify-content: center;
        button {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  .h-s-f {
    .h-s-f-single {
      width: calc(50% - 12px);
    }
  }

  .project {
    .gapert {
      row-gap: 60px;
    }

    .project__single {
      .content-header {
        a {
          @include box(60px);
          font-size: 24px;
        }
      }

      .content {
        padding: 30px 20px;
      }
    }

    .pl-45 {
      margin-left: 0px;
    }

    .pr-45 {
      margin-right: 0px;
    }

    .col-12 {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  }

  .drive {
    .tab-content-inner {
      flex-wrap: wrap;

      .tab-left {
        max-width: 100%;
      }
    }
  }

  .awards {
    .slide-dots {
      .slick-dots {
        justify-content: center;

        button {
          @include box(36px);
        }
      }
    }
  }

  .project-sl {
    overflow-x: auto;
    .project-sl__single {
      padding: 0px 15px;
      max-width: 280px;
      min-width: 280px;
      width: 100%;
    }

    .content {
      h2 {
        height: 200px;
      }
    }
  }

  .ux-process {
    .service-f-single {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 60px;
    }

    .body-cn {
      max-width: 100%;
    }
  }

  // footer
  .footer {
    .footer__content {
      max-width: 450px;
      h2 {
        margin-top: -44px;
        line-height: 2.2;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .tertiary--navbar {
    .open-offcanvas-nav {
      @include box(50px);
    }
  }

  .offcanvas-nav {
    .offcanvas-menu {
      .offcanvas-menu__wrapper {
        padding: 60px 0px;
      }

      .navbar__item {
        a,
        button {
          font-size: 16px;
        }
      }

      .navbar__sub-menu {
        a,
        button {
          font-size: 14px;
        }
      }

      .offcanvas-menu__social {
        gap: 16px;
        a {
          @include box(46px);
          font-size: 16px;
        }
      }

      .offcanvas-menu__list,
      .offcanvas-menu__options,
      .offcanvas-menu__social {
        max-width: 320px;
      }
    }
  }

  // banner
  .banner {
    .banner__meta,
    .banner__sidebar {
      max-width: 100%;
    }
  }

  .banner-three {
    .review-about,
    .review-single {
      flex-wrap: wrap;
    }
  }

  // img view
  .img-view {
    .img-view__wrapper {
      .img-view__single {
        min-width: 280px !important;
        img {
          max-height: 180px;
        }
      }
    }
  }

  .counter {
    .counter__single {
      transform: scale(1);
      @include box(290px);
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
    }
  }

  .case {
    .case-single {
      padding: 60px 20px;
    }
  }

  .h-s-f {
    .h-s-f-single {
      width: 100%;
      max-width: 100%;
    }
  }

  .drive {
    .drive__inner {
      padding: 40px 20px;
    }

    .generate__content-btn {
      .content {
        padding: 16px 20px;
      }
    }
  }

  .testimonial-alt {
    .testimonial-two-single {
      max-width: 300px;
    }
  }

  .project-d {
    .poster__slider-wrapper {
      .slide-group {
        justify-content: center;
        transform: translate(0px);
        position: static;
        margin-top: 40px;
        gap: 24px;
      }
    }
  }

  .n-t {
    .nt-w-right {
      display: none;
    }

    .nt-s {
      padding: 40px 0px;
    }
  }

  .footer--five {
    .footer__five-content {
      .group-wrapper {
        flex-direction: column;
        .group-input {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 575.98px) {
  // typography

  .light-title-xxl {
    font-size: 34px;
    line-height: 50px;
  }

  .light-title-xl {
    font-size: 30px;
    line-height: 40px;
  }

  .light-title-lg {
    font-size: 24px;
    line-height: 34px;
  }

  .light-title-md {
    font-size: 24px;
    line-height: 34px;
  }

  .light-title-sm {
    font-size: 24px;
    line-height: 34px;
  }

  .light-title-xs {
    font-size: 20px;
    line-height: 30px;
  }

  // global styles
  .cursor-inner,
  .cursor-outer {
    display: none;
  }

  // mobile menu
  .primary-navbar {
    .navbar {
      gap: 20px;
    }
    .navbar__logo {
      max-width: 110px;
    }
    .navbar__mobile-options {
      gap: 16px;
      button {
        font-size: 18px;
      }
    }
    .navbar__options {
      gap: 16px;
    }
  }

  .mobile-menu {
    max-width: 320px;
    .mobile-menu__wrapper {
      max-width: 320px;
    }

    .mobile-menu__options,
    .mobile-menu__social {
      padding: 0px 24px;
    }

    .mobile-menu__header {
      padding-left: 24px;
    }

    .mobile-menu__social {
      gap: 16px;
      a {
        @include box(46px);
        font-size: 16px;
      }
    }

    .navbar__item {
      a,
      button {
        padding: 20px 70px 20px 24px;
      }
    }
  }

  .offcanvas-nav {
    .offcanvas-menu {
      &::before {
        content: none;
      }
    }
  }

  // banner
  .banner {
    .banner__content-single {
      padding: 40px 20px;
    }

    .banner__content {
      .banner__content-about {
        .banner__content-about-inner {
          padding: 40px 20px;
        }
      }
    }
  }

  .banner-two {
    .banner-two__content {
      padding: 40px 20px;
    }
    .banner-two__sidebar {
      padding: 30px 20px;
    }

    .banner-two__right {
      .social {
        gap: 16px;
        a {
          @include box(40px);
          font-size: 18px;
        }
      }
    }
  }

  .banner-three {
    .banner-three__meta {
      padding: 30px 20px;
    }

    .review-about,
    .feedback,
    .single-w {
      padding: 30px 20px;
    }
  }

  .banner-four {
    .input-group {
      padding-left: 24px;
      &::before {
        content: none;
      }
    }
  }

  .banner-five {
    .banner-five__inner {
      padding: 60px 20px;
    }

    .s-t {
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
    }

    h1 {
      font-size: 20px;
      max-width: 360px;
    }
  }

  .text-slider-wrapper {
    .text-slider {
      .slick-list {
        margin: 0px -12px;
      }

      .slick-slide {
        margin: 0px 12px;
      }

      .text-slider__single {
        gap: 24px;

        span {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .recent {
    .recent__single {
      padding: 30px 20px;
      .content {
        flex-wrap: wrap;
      }
    }
  }

  .testimonial-two {
    .testimonial-two__inner {
      padding: 40px 20px;
    }

    .testimonial-two-single {
      padding: 30px 20px;
    }
    .slide-dots {
      .slick-dots {
        flex-direction: row;
      }
    }
  }

  .process {
    .process-wrap {
      padding-left: 0px;
      &::before {
        content: none;
      }
    }
    .process__single {
      h4 {
        &::after,
        &::before {
          content: none;
        }
      }
    }
  }

  .h-s-f {
    .h-s-f-single {
      padding: 30px 20px;
    }
  }

  .note {
    .note__single-alt {
      padding: 80px 20px;
    }
  }

  .about-me {
    .banner-two__content,
    .banner__meta-single,
    .banner-two__sidebar {
      padding: 30px 20px;
    }
  }

  .awards {
    .awards__slider-single {
      padding: 30px 20px;
    }
  }

  .experience {
    .experience__single {
      padding: 30px 20px;
    }
  }

  .blog-main {
    .blog-main__sidebar {
      padding: 30px 20px;

      .widget__list,
      .widget__tag,
      .widget__latest {
        a {
          font-size: 14px !important;
        }
      }
    }

    .blog-main__single {
      margin-bottom: 40px;

      .thumb,
      .content {
        padding: 30px 20px;
      }
    }
  }

  .blog-details {
    .bd-content {
      padding: 30px 20px;
    }

    .bd-quote {
      padding: 40px 20px;
    }
  }

  .custom-quote {
    .custom-quote__right {
      animation-direction: normal;
    }

    .quote-wrapper {
      height: 1200px;
    }
  }

  .form-group-wrapper {
    flex-direction: column;
    row-gap: 30px;

    .form-group-single {
      width: 100%;
    }
  }

  .feedback-s {
    .feedback-s__single {
      padding: 40px 30px;
    }
  }

  .contact-m {
    .contact-main__form {
      padding: 60px 20px;
      .group-wrapper {
        flex-direction: column;
        .group-input {
          width: 100%;
        }
      }
    }
  }

  // footer
  .footer {
    .footer__content {
      max-width: 225px;
      h2 {
        margin-top: -36px;
        line-height: 3.2;
      }
    }
  }
}

@media only screen and (max-width: 424.98px) {
  .blog-details {
    .blog-details__pagination {
      .latest-single {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .thumb-radio {
    padding: 80px 20px;

    .radio {
      margin: 0px 0px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}

/* ==== 
 --------- (6.0) responsive styles end ---------
 ==== */
