/* ==== 
 --------- (4.01) header styles start ---------
 ==== */

//  header
.primary-navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 999;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
  }

  .navbar__menu {
    flex-grow: 1;
  }

  .navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__item {
    button,
    a {
      padding: 47px 20px;
      font-weight: 500;
      width: 100%;
      color: var(--white);
      &:hover {
        color: var(--quinary-color);
      }
    }
  }

  .navbar__item--has-children {
    position: relative;

    &:hover {
      & > .navbar__dropdown-label {
        color: var(--quinary-color);
        &::after {
          transform: rotate(180deg);
        }
      }
      & > .navbar__dropdown-label-sub {
        &::after {
          transform: rotate(-90deg);
        }
      }
      & > .navbar__sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        pointer-events: all;
      }
    }
  }

  .navbar__dropdown-label {
    position: relative;
    justify-content: space-between;
    &::after {
      font-family: "bootstrap-icons";
      font-weight: 900;
      content: "\F282";
      border: none;
      transition: transform 0.3s ease-in-out;
      font-size: inherit;
      transform: rotate(0deg);
    }
  }

  .navbar__sub-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 260px;
    max-width: 260px;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    pointer-events: none;
    transition: var(--transition);
    box-shadow: var(--shadow);
    padding: 20px 0px;
    border-radius: 5px;
    z-index: 9;
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 25px;
      height: 15px;
      width: 15px;
      transform: rotate(45deg);
      background-color: inherit;
      transition: var(--transition);
      z-index: -1;
    }

    li {
      &:nth-last-of-type(1) {
        a {
          border-bottom: 0px;
        }
      }
    }

    a,
    button {
      width: 100%;
      display: flex;
      padding: 16px 40px;
      color: var(--black);
      position: relative;
      border-bottom: 1px solid #cecece7a;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        height: 1px;
        width: 0px;
        transition: var(--transition);
        background-color: var(--quinary-color);
      }
      &:hover {
        color: var(--quinary-color);
        &::before {
          width: 10px;
        }
      }
    }

    .navbar__item--has-children {
      &:hover {
        & > .navbar__dropdown-label-sub {
          color: #1f1c2f;
        }
      }
    }

    .navbar__dropdown-label-sub {
      &::before {
        display: none;
      }
    }
  }

  .navbar__sub-menu__nested {
    top: 0%;
    left: 100%;
    min-width: 220px;
    &::before {
      left: -5px;
      top: 17px;
      box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .navbar__sub-menu-n {
    display: none;
  }

  .navbar__options {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navbar__mobile-options {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    button {
      font-size: 24px;
      color: var(--quinary-color);
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .open-mobile-menu {
    font-size: 30px;
    color: var(--quinary-color);
    &:hover {
      color: var(--primary-color);
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navLinkFadeReverse {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes stickyNavbar {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar-active {
  background-color: var(--black);
  background-image: none !important;
  border-bottom: 1px solid #414141;
  animation: stickyNavbar 0.9s ease-in-out;
  box-shadow: var(--shadow);
}

.animated-bar {
  position: relative;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-bg);
  border: 1px solid #414141;
  border-radius: 50%;
  gap: 0px;
  &:hover {
    border: 1px solid var(--quinary-color);
    .bar-line {
      background-color: var(--quinary-color);
      &::before,
      &::after {
        background-color: var(--quinary-color);
      }
    }
  }

  .bar-line {
    background: transparent;
    display: block;
    height: 0px;
    position: absolute;
    top: 48%;
    transition: background-color ease 0.3s, top ease 0.3s 0.3s,
      transform ease 0.3s;
    width: 20px;
    &::before,
    &::after {
      background: var(--white);
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      transition: background-color ease 0.3s, top ease 0.3s 0.3s,
        transform ease 0.3s;
      width: 20px;
    }

    &::before {
      top: -4px;
    }

    &::after {
      top: 4px;
    }
  }
}

.animated-bar-active {
  border-color: var(--quinary-color);
  .bar-line {
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &::before,
    &::after {
      top: 0;
      transition: top ease 0.3s, transform ease 0.3s 0.3s;
      background-color: var(--quinary-color);
    }
  }
}

// secondary header
.secondary-header {
  .primary-navbar {
    padding: 36px 0px;
  }
  .navbar__list {
    & > li {
      & > a {
        padding: 0px 20px 20px;
      }
      & > button {
        padding: 0px 20px 20px;
      }
    }
  }

  .navbar__profile {
    a {
      @include box(136px);
      position: relative;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -10px;
        width: 100%;
        height: 100%;
        border: 2px solid #f70354;
        z-index: -1;
        border-radius: inherit;
      }
      img {
        border-radius: inherit;
      }
    }
  }

  .navbar__menu {
    .navbar__logo {
      margin-bottom: 30px;
    }
  }

  .navbar__list {
    justify-content: flex-start;
  }
}

// tertiary navbar
.tertiary--navbar {
  padding: 30px 0px;

  .open-offcanvas-nav {
    @include box(70px);
    background-color: #2d2d2d;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 50%;
      transition: var(--transition);
    }
    &:hover {
      background-color: var(--quinary-color);
    }
  }
}

.offcanvas-nav {
  .offcanvas-menu {
    position: fixed;
    inset: 0px;
    overflow: hidden;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: var(--transition);
    z-index: 9999;
    transition-delay: 0.6s;
    transition: all 0.9s ease-in-out;
    background-color: var(--black);

    &::before {
      content: "Explore Pages";
      position: absolute;
      top: 30%;
      right: 10%;
      font-size: 6vw;
      line-height: 1.2;
      font-weight: 900;
      text-transform: uppercase;
      max-width: 30vw;
      z-index: -1;
      color: white;
      opacity: 0.1;
      text-align: end;
    }

    .offcanvas-menu__header {
      display: flex;
      align-items: center;
      gap: 24px;
      flex-wrap: wrap;
      padding: 0px 20px 0px 20px;
      justify-content: space-between;
    }

    .close-offcanvas-menu {
      font-size: 36px;
    }

    .offcanvas-menu__wrapper {
      position: fixed;
      inset: 0px;
      background-color: transparent;
      z-index: 9999;
      padding: 60px 100px 60px 60px;
      height: 100vh;
      overflow-y: auto;
      overflow-x: clip;
      display: flex;
      flex-direction: column;
      transition: 0.3s ease-in-out;
      transition-delay: 0.3s;
      gap: 60px;
      transform: translateY(100%);
      opacity: 1;
      visibility: visible;
      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    .navbar__list {
      flex-direction: column;
    }

    .navbar__item {
      width: 100%;
      transition: var(--transition);

      a,
      button {
        color: var(--white);
        padding: 20px 80px 20px 20px;
        line-height: 1;
        font-size: 16px;
        width: 100%;
        text-transform: uppercase;
        font-size: 24px;
        &:hover {
          color: var(--quinary-color);
        }
        &::after {
          transition: none;
        }
      }
    }

    .nav-fade {
      transform: translateY(30px);
      opacity: 0;
      transition: all 0.7s ease-in-out !important;
    }

    .navbar__item--has-children {
      .navbar__dropdown-label {
        position: relative;
        &::after {
          content: "\2b";
          font-family: "Font Awesome 6 Free";
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          height: 100%;
          width: 60px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transform: rotate(0deg);
        }
      }
      &:hover {
        .navbar__dropdown-label {
          &::after {
            transform: rotate(0deg);
          }
        }
      }
    }

    .navbar__item-active {
      color: var(--quinary-color) !important;
      &::after {
        content: "\f068" !important;
        font-family: "Font Awesome 6 Free" !important;
        font-weight: 900;
      }
    }

    .navbar__sub-menu {
      position: static;
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
      width: 100%;
      max-width: 100%;
      padding: 0px;
      display: none;
      transition: none;
      background-color: transparent;
      border-radius: 0px;
      padding-left: 30px;

      &::before {
        content: none;
      }

      a,
      button {
        color: var(--white);
        padding: 16px 20px;
        font-size: 16px;
        &::before {
          content: none;
        }
      }
    }

    .offcanvas-menu__options {
      padding: 0px 20px;
      a,
      button {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 16px 40px;
        border-radius: 30px;
        color: var(--senary-color);
        &:hover {
          color: var(--white);
          border-color: var(--white);
        }
      }
    }

    .offcanvas-menu__social {
      transition: var(--transition);
      padding: 0px 20px;
      a {
        font-size: 20px;
        @include box(50px);
      }
    }
  }

  .offcanvas-menu__list,
  .offcanvas-menu__options,
  .offcanvas-menu__social {
    max-width: 500px;
  }

  .show-offcanvas-menu {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;

    .offcanvas-menu__wrapper {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }

    .nav-fade {
      animation: navLinkFade 0.5s ease forwards;
      transition: all 0.7s ease-in-out !important;
    }
  }

  .nav-fade-active {
    animation: navLinkFade 1s ease reverse !important;
  }
}

// quaternary navbar
.header--quaternary {
  .btn--secondary {
    color: var(--white);
    border-radius: 50px;
    transition: var(--transition);
    i {
      color: inherit;
    }
    &:hover {
      color: var(--quinary-color);
      border-color: var(--quinary-color);
    }
  }

  .navbar {
    gap: 30px;
  }
}

// offcanvas info
#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;

  &:checked {
    & ~ .burger-menu {
      .line {
        &::after {
          transform: translateX(0);
        }

        &:nth-child(1) {
          transform: translateY(calc(var(--burger-menu-radius) / 5))
            rotate(45deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: translateY(calc(var(--burger-menu-radius) / -5))
            rotate(-45deg);
        }
      }
    }
  }
}

.burger-menu {
  --burger-menu-radius: 4em;

  // position: fixed;
  // top: 5vh;
  // left: 5vw;
  position: relative;
  z-index: 99999999;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;

  .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;

    &:nth-child(1) {
      top: 30%;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 70%;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--primary-color-darker);
      transform: translateX(-100%);
      transition: 0.25s;
    }

    @for $i from 2 through 3 {
      &:nth-child(#{$i})::after {
        transition-delay: 0.1s * ($i - 1);
      }
    }
  }

  &:hover {
    .line::after {
      transform: translateX(0);
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1e23;
  opacity: 0;
  overflow-x: clip;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.3s;
  z-index: 99999;

  button {
    background-color: transparent;
    font-size: 36px;
    color: var(--white);
    position: absolute;
    left: 40px;
    top: 40px;
    &:hover {
      color: var(--quinary-color);
    }
  }

  .menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
  }

  .menu-nav-item {
    flex: 1;
    overflow: hidden;
  }

  .menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    transform: translateY(102%);

    &::after {
      position: absolute;
      content: "";
      top: 103%;
      left: 0;
      width: 100%;
      height: 3px;
      background: var(--quinary-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  .gallery {
    margin-top: 60px;
    text-align: center;
  }

  .title {
    font-size: 24px;
    color: white;
    overflow: hidden;

    p {
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transform: translateY(102%);
    }
  }

  .images {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;

    .image-link {
      width: 15vw;
      margin: 0 12px;
      overflow: hidden;

      .image {
        position: relative;
        transition: 0.6s;
        width: 100%;

        img {
          width: 100%;
        }

        &::before {
          position: absolute;
          content: attr(data-label);
          top: 0;
          left: 0;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: white;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: 0.4s;
        }
      }

      &:hover .image {
        transform: scale(1.2);

        &::before {
          opacity: 1;
        }
      }
    }

    img {
      height: 250px;
      transform: translateY(102%);
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;

  .menu-nav-link,
  img,
  .title {
    transform: translateY(0) !important;
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1) !important;
  }

  .image-link {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) img {
        transition-delay: 0.1s + 0.08s * $i;
      }
    }
  }
}

/* ==== 
 --------- (4.01) header styles end ---------
 ==== */
